<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.sowatec.pg.notenapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Übersicht"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.GradeListActivity"></activity>
        <activity android:name=".Activities.CreateGradeActivity" />
        <activity android:name=".Activities.GradeOptionsActivity" />
        <activity android:name=".Activities.SubjectListActivity" />
        <activity android:name=".Activities.CreateSubjectActivity" />
        <activity
            android:name=".Activities.SubjectOptionsActivity"
            android:label="@string/faecher" />
        <activity android:name=".Activities.TeacherListActivity" />
        <activity android:name=".Activities.CreateTeacherActivity" />
        <activity
            android:name=".Activities.TeacherOptionsActivity"
            android:label="@string/lehrpersonen" />
        <activity android:name=".Activities.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>